.FreshCard {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2%;
    box-shadow: 10px 10px 10px #888888;
}

.FreshPost .thumbnail {
    padding: 0 !important;
}

.FreshPost .thumbnail img {
    padding: 0 !important;
    height: 225px;
    width: 225px;
    float: left;
    border-radius: 10px 0px 0px 10px;
}

.FreshPost .content {
    display: flex;
    align-items: center;
}

.FreshPost .content h2{
    padding: 0;
    margin: 0;
    float: left;
}


.FreshPost a {
    text-decoration: none;
    color: black;
}

.FreshPost a:hover {
    color: grey;
}